<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/mainLayout/index :: layout(~{::title}, ~{::main#profile_form_id}, ~{::script}, _ )}">

<title>Sign in to Sweater</title>





<body>

  <div th:fragment="inputBlock (inputName, inputType, id, labelTitle)" class="form-group row">
    <label th:text="${labelTitle}" th:for="${id}" class="col-md-4 col-form-label text-md-right"></label>
    <div class="col-md-6">
      <input th:type="${inputType}" th:id="${id}" class="form-control" th:name="${inputName}">
    </div>
  </div>


  <main id="profile_form_id" class="my-form">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card">
          <h4 th:text="'Reset settings for '+${username}" class="card-header text-center">username</h4>
          <div class="card-body">
            <form method="POST">

              <th:block th:replace="::inputBlock('email','email','user_email','New e-mail: ')">
              </th:block>

              <th:block th:replace="::inputBlock('password','password','user_password','New password: ')">
              </th:block>


              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Reset settings
                </button>
              </div>

              <!-- <div class="col-md-6 offset-md-4">
                <p class="mt-3">
                  New to sweater?
                </p>
              </div> -->



              <!-- <div class="dialog-row mt-3">
                <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                  class="text-center redText">text</label>
              </div> -->

            </form>

          </div>
        </div>
      </div>
    </div>

  </main>


</body>



</html>