<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title th:replace="${title}">Layout Title</title>

  <div th:replace="fragments/header :: header-css"></div>
  <link rel="stylesheet" href="/static/pure-release-1.0.1/pure-min.css">
  <link rel="stylesheet" href="/static/global-style.css">
</head>
<body>

  <div th:replace="fragments/header :: header"></div>
    <div th:replace="${content}"></div>
  <div th:replace="fragments/footer :: footer"></div>


</body>
</html>