<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}">Layout Title</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

  <div th:replace="fragments/header :: header"></div>

  <div th:replace="${content}">
    <p>Layout content</p>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

</body>
</html>