<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/mainLayout/index :: layout(~{::title}, ~{::main#registration_form_id}, ~{::script}  )}">

<title>Registration to Sweater</title>



<body>

  <div th:fragment="inputBlock (inputName, inputType, id, labelTitle)" class="form-group row">
    <label th:text="${labelTitle}" th:for="${id}" class="col-md-4 col-form-label text-md-right"></label>
    <div class="col-md-6">
      <input th:type="${inputType}" th:id="${id}" class="form-control" th:name="${inputName}">
    </div>
  </div>


  <main id="registration_form_id" class="my-form">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card">
          <h4 class="card-header text-center">Registration</h4>
          <div class="card-body">
            <form action="/registration" method="POST">


              <th:block th:replace=" :: inputBlock('firstname','text','first_name','Firstname: ')">
              </th:block>


              <th:block th:replace="::inputBlock('lastname','text','last_name','Lastname: ')">
              </th:block>


              <th:block th:replace="::inputBlock('email','email','email_address','E-Mail Address: ')">
              </th:block>


              <th:block th:replace="::inputBlock('username','text','user_name','Username: ')">
              </th:block>

              <th:block th:replace="::inputBlock('password','password','user_password','Password: ')">
              </th:block>


              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>


</body>



</html>