
  .header-menu{
    background-color: #30336b;
    height: 36px;
    -webkit-box-shadow: 3px -4px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -4px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 3px -4px 19px 0px rgba(0,0,0,0.75);

  }


  .header-menu .pure-menu-link{
    color: #dff9fb;
  }

  .header-menu .pure-menu-link:focus,
  .header-menu .pure-menu-link:hover{
    border: none;
    background-color: #95a5a6;
  }

  .auth-list{

  }

  .auth-list .pure-menu-children{
    background-color: #30336b;
  }

  .auth-list .parent1{
    text-align: center;
  }

  .auth-list .pure-menu-children .pure-menu-item .pure-menu-link,
  .auth-list .parent1{
      width: 150px;
  }

  input[type=submit]{
    border: none;
    background-color: transparent;
  }
