
body{
  background-color: #ecf0f1;
  min-height: 100%;
  position:relative;
}

a{
  text-decoration: none;
  color: #3498db;
}

a:hover{
    color: #2980b9;
}

.d-none{
  display: none;
}

.d-flex{
  display: flex;
}

.f-left{
  float: left;
}

.f-right{
  float: right;
}

.m-1rem{
  margin: 1rem;
}

.my-1rem{
  margin: 1rem 0 1rem 0;
}

.mt-2rem{
  margin-top: 2rem;
}

.p-1rem{
  padding: 1rem;
}

.py-1rem{
  padding: 1rem 0 1rem 0;
}

.h-center{
        left: 50%;
        position: relative;
        transform: translateX(-50%);

}

.my-container{
  max-width: 960px;
  margin: 0 auto;
}

.t-a-center{
  text-align: center;
}