<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div class="wrapper">
    <div id="app">
      <header></header>

      <div class="content-wrapper">

        <section id="promo" style="text-align:center;">
          <div class="container">
            <h1>ZZZZZQQQ1 Template</h1>
          </div>
        </section>


      </div>

      <footer></footer>
    </div>
  </div>


</body>

</html>