<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>

</head>


<body>


  <th:block th:fragment="mainCards( page, paginationArray )">

    <th:block th:replace="~{fragment/mainCards/pagination/index :: pagination(${page}, ${paginationArray}) }">
    </th:block>

    <div id="mainCardsID" class="card-columns">
      <div class="card my-3" th:if="${page != null}" th:each="page : ${page}">
        <div th:if="${page.filename != null}">
          <img th:src="'/img/' + ${page.filename}" class="mainCardImg mw-100 card-img-top" />
        </div>
        <div th:if="${page.filename == null}">
          <img src="/static/assets/images/no-image200x200.jpeg" class="mainCardImg mw-100 card-img-top" />
        </div>
        <div class="m-2">
          <p th:text="${page.text}" class="card-text"></p>
          <p th:text="${page.tag}" class="card-text"></p>
        </div>

        <th:block th:with="authorExist=${page.getAuthorName()!=''}">
          <div th:if="${authorExist}" class="card-footer text-muted">
            <a th:href="'/user-messages?username='+${page.getAuthorName()}" th:text="${page.getAuthorName()}">
            </a>
            <a th:if="${#authorization.expression('isAuthenticated()') 
            && page.getAuthorName()==#authentication.getPrincipal().getUsername()}" class="btn btn-primary"
            th:href="'/user-messages?username='+${page.getAuthorName()}+'&updateMessageId='+${page.getId()}">
            Edit
            </a>
          </div>
        </th:block>
      </div>
    </div>
    
    <th:block 
      th:replace="~{fragment/mainCards/pagination/index :: pagination(${page}, ${paginationArray}) }">
    </th:block>

</th:block>

</body>




</html>