
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/mainLayout :: layout(~{::title}, ~{::section})}">
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->



<title>User Edit</title>


<section>

  <form action="/user" method="post">

    <input type="text" name="username" th:value="${user.username}">

    <div th:each="role : ${allRoles}">
      <label ><input type="checkbox" th:name="${role}" th:text="${role}"
                     th:checked="${#arrays.contains(user.roles, role)}" ></label>
    </div>

    <input type="hidden" name="userId" th:value="${user.id}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div><input type="submit" value="Save changes"/></div>
  </form>

</section>



</html>