<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/mainLayout/index :: layout(~{::title}, ~{::main#login_form_id}, ~{::script}, _ )}">

<title>Sign in to Sweater</title>





<body>

  <div th:fragment="inputBlock (inputName, inputType, id, labelTitle, defaultVal)" class="form-group row">
    <label th:text="${labelTitle}" th:for="${id}" class="col-md-4 col-form-label text-md-right"></label>
    <div class="col-md-6">
      <input th:value="${defaultVal}" th:type="${inputType}" th:id="${id}" class="form-control" th:name="${inputName}">
    </div>
  </div>


  <main id="login_form_id" class="my-form">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card">
          <h4 class="card-header text-center">Sign up in to Sweater</h4>
          <div class="card-body">
            <form th:action="@{/login}" method="POST">

              <th:block th:replace="::inputBlock('username','text','user_name','Username: ', 
                (${activationAccountUsername==null}?'':${activationAccountUsername}))">
              </th:block>

              <th:block th:replace="::inputBlock('password','password','user_password','Password: ', '')">
              </th:block>



              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Sign in
                </button>
              </div>

              <div class="col-md-6 offset-md-4">
                <p class="mt-3">
                  New to sweater?
                  <a href="/registration" class="stretched-link">Create an account.</a>
                </p>
              </div>

              <div class="dialog-row mt-3">
                <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                  class="text-center text-warning">text</label>
              </div>


              <p th:if="${activationAccountMessage!=null}" th:text="${activationAccountMessage}"
                id="activationAccountMessage"
                th:class="'mt-3 font-weight-bold col-md-6 offset-md-4  text-'+${activationAccountMessageType}">

              </p>

            </form>

          </div>
        </div>
      </div>
    </div>

  </main>


</body>



</html>