
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/mainLayout :: layout(~{::title}, ~{::section})}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">



<title>Login</title>


<section>

  <style>
    .login-card-01{

        margin-top: 2.5rem;
        border: 1px solid #bdc3c7;
        border-radius: 6px;
        background: white;
    }

    .login-card-01 .title{

        font-size: 24px;
        text-align: center;
        margin: 1.5rem 0 1.5rem 0;
    }

    .login-card-01 #forgot-password{
       margin: 1rem;
    }
</style>



  <div class="my-container pure-g">
    <form class="pure-form pure-u-1-2 pure-form-aligned login-card-01 h-center" method="POST" th:action="@{/login}">

      <div class="title">Sign in to Sweater</div>

      <fieldset>
        <div class="pure-control-group">
          <label >Username</label>
          <input  type="text" name="username" placeholder="">
        </div>

        <div class="pure-control-group ">
          <label >Password</label>
          <input  type="password" name="password" placeholder="">
        </div>


        <a id="forgot-password" class="pure-form-message-inline f-right" href="#">Forgot password?</a>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary pure-u-1-3">Sign in</button>
        </div>
      </fieldset>
    </form>

    <div class="pure-u-1-2 h-center" th:if="${param.error}">
      Invalid username and password.
    </div>
    <div class="pure-u-1-2 h-center" th:if="${param.logout}">
      You have been logged out.
    </div>

  </div>

</section>



</html>