<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/mainLayout/index :: layout(~{::title}, 
  ~{::section#homepageID}, ~{::script}, ~{::link} )}">




<title>Home - Index</title>

<body>


  <section id="homepageID">
    <div class="form-row">
      <div class="form-group col-md-6">
        <form method="get" action="/home" class="form-inline">
          <input type="text" name="filter" class="form-control" th:value="${filter}" placeholder="Поиск по тегу">
          <button type="submit" class="btn btn-primary ml-2">Search</button>
        </form>
      </div>
    </div>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Add new Message
    </a>
    <div th:class="'collapse '+(${message!=null}?' show':'')" id="collapseExample">
      <div class="form-group mt-3">
        <form method="post" th:action="@{/home}" enctype="multipart/form-data">


          <div class="row">

            <div class="col-sm">
              <div class="form-group">
                <input th:value="${message?.getText()}" type="text"
                  th:class="'form-control'+ (${textError!=null}?' is-invalid':'') " name="text"
                  placeholder="Enter message" autocomplete="off">
                <div th:if="${textError!=null}" th:text="${textError}" class="invalid-feedback">
                  error message
                </div>
              </div>
              <div class="form-group">
                <input th:value="${message?.getTag()}" type="text"
                  th:class="'form-control'+ (${tagError!=null}?' is-invalid':'') " name="tag" placeholder="Tag"
                  autocomplete="off">
                <div th:if="${tagError!=null}" th:text="${tagError}" class="invalid-feedback">
                  error message
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="custom-file">
                  <input ref="inputImageFileRef" name="file" type="file" class="custom-file-input"
                    id="inputImageFileID">

                  <label class="custom-file-label" for="inputImageFileID" aria-describedby="inputGroupFileAddon02">
                    Choose file
                  </label>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Add message</button>
              </div>
            </div>

            <div class="form-group mb-3 col-sm">
              <img id="addMessageViewImage" src="/static/assets/images/no-image200x200.jpeg"
                class="homeMaxImageSize rounded float-left">
            </div>
          </div>


        </form>
      </div>
    </div>


    <th:block th:replace="~{fragment/mainCards/index :: mainCards(${messages}) }"></th:block>




  </section>


  <script th:replace="~{fragment/mainCards/index :: script}"></script>

</body>




</html>