<!DOCTYPE html>
<html th:fragment="layout (title, content, j_script, h_style)" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:replace="${title}">Sweater</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <th:block th:replace="${h_style}"></th:block>
</head>

<body>


  <th:block th:replace="fragment/headerNavbar/index :: header">
  </th:block>



  <div class="container mt-5">
    <div th:replace="${content}"></div>
  </div>

  <th:block th:replace="fragment/staticLibraries/index :: staticjslibs"></th:block>
  <th:block th:replace="~{fragment/headerNavbar/index :: script}"></th:block>
  <th:block th:replace="${j_script}"></th:block>

</body>

</html>