<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:replace="${title}">Sweater</title>
  <link rel="stylesheet" href="/static/libraries/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div th:replace="${content}"></div>
  </div>


  <script src="/static/libraries/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/libraries/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/libraries/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- For production set min version -->
  <script src="/static/libraries/node_modules/vue/dist/vue.js"></script>

</body>

</html>